.header {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #ccc;

  &_name {
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
}
